In [1]:
def librerias():
    '''En este apartado se importan las librerías pandas y sklearn'''
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
print(librerias.__doc__)
print(librerias())

En este apartado se importan las librerías pandas y sklearn
None

In [2]:
def cargaDataset():
    '''Cargar el dataset "Dataset of Diabetes.csv"'''
df_diabetes = pd.read_csv("Dataset of Diabetes.csv")
print(cargaDataset.__doc__)
print(cargaDataset())
df_diabetes.head()

Cargar el dataset "Dataset of Diabetes.csv"
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [3]:
def mapeoGender():
    '''Mapeo de los datos de la columna Gender. 
    Cambio de String por valores binarios.
    M = 0 y F = 1'''
df_diabetes['Gender'] = df_diabetes['Gender'].map({'M': 0, 'F': 1})
print(mapeoGender.__doc__)
print(mapeoGender())
df_diabetes.head()

Mapeo de los datos de la columna Gender.
    Cambio de String por valores binarios.
    M = 0 y F = 1
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,0.0,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,0.0,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [ ]:
def mapeoClass():
   '''Mapeo de los datos de la columna Gender. 
    Cambio de String por valores binarios.
    M = 0 y F = 1'''
df_diabetes['CLASS'] = df_diabetes['CLASS'].map({'N': 0, 'P': 1, 'Y':2})
print(reemplazo2.__doc__)
print(reemplazo2())
df_diabetes.head()