# IMPORTAR LIBRERIAS

In [30]:
def librerias():
    '''En este apartado se importan las librerías pandas y sklearn'''
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
print(librerias.__doc__)
print(librerias())

En este apartado se importan las librerías pandas y sklearn
None

# CARGAR DATASET DE DIABETES

In [31]:
def cargaDataset():
    '''Cargar el dataset "Dataset of Diabetes.csv"'''
df_diabetes = pd.read_csv("Dataset of Diabetes.csv")
print(cargaDataset.__doc__)
print(cargaDataset())
df_diabetes.head()

Cargar el dataset "Dataset of Diabetes.csv"
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

# MAPEO DE DATOS

In [32]:
def mapeoGender():
    '''Mapeo de los datos de la columna Gender. 
    Cambio de String por valores binarios.
    M = 0 y F = 1'''
df_diabetes['Gender'] = df_diabetes['Gender'].map({'M': 0, 'F': 1})
print(mapeoGender.__doc__)
print(mapeoGender())
df_diabetes.head()

Mapeo de los datos de la columna Gender.
    Cambio de String por valores binarios.
    M = 0 y F = 1
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,0.0,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,0.0,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [33]:
def mapeoClass():
   '''Mapeo de los datos de la columna CLASS. 
    Cambio de String por valores numéricos.
    N = 0, P = 1 y Y = 2'''
df_diabetes['CLASS'] = df_diabetes['CLASS'].map({'N': 0, 'P': 1, 'Y':2})
print(mapeoClass.__doc__)
print(mapeoClass())
df_diabetes.head()

Mapeo de los datos de la columna CLASS.
    Cambio de String por valores numéricos.
    N = 0, P = 1 y Y = 2
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
1,735,34221,0.0,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0.0
2,420,47975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
3,680,87656,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
4,504,34223,0.0,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0.0

# DEFINIR VARIABLES

In [34]:
def variableIndependiente():
    '''Definir la variable independiente (X) que corresponde a las características del modelo.'''
varIndep = ['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL','BMI']
X = df_diabetes[varIndep]
print(variableIndependiente.__doc__)
print(variableIndependiente())

Definir la variable independiente (X) que corresponde a las características del modelo.
None

In [35]:
def variableDependiente():
    '''Definir la variable dependiente (y) o la etiqueta del modelo.'''
y = df_diabetes.CLASS
print(variableDependiente.__doc__)
print(variableDependiente())

Definir la variable dependiente (y) o la etiqueta del modelo.
None

In [36]:
def imprimirVariables():
    '''Imprimir la variables X y la variable y.'''
print(X, y, sep='\n\n')
print(imprimirVariables.__doc__)
print(imprimirVariables())

      ID  No_Pation  Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0    502      17975     1.0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1    735      34221     0.0   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2    420      47975     1.0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3    680      87656     1.0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4    504      34223     0.0   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4
..   ...        ...     ...  ...   ...  ..    ...   ...  ...  ...  ...   ...
995  200     454317     0.0   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6
996  671     876534     0.0   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4
997  669      87654     0.0   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1
998   99      24004     0.0   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0
999  248      24054     0.0   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7

      BMI
0    24.0
1    23.0
2    24.0
3    24.0
4    21.0
..    ...
995  30.0
996  37.2
997  27.4
998  40.5
999  33.0

[1000 rows x 13 columns]

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
995    2.0
996    NaN
997    NaN
998    NaN
999    NaN
Name: CLASS, Length: 1000, dtype: float64
Imprimir la variables X y la variable y.
None

# LIMPIAR NULOS

In [37]:
def valoresNulos():
    '''Comprobar que en el dataset no incluya valores nulos'''
print(valoresNulos.__doc__)
print(valoresNulos())
df_diabetes.isnull().sum()

Comprobar que en el dataset no incluya valores nulos
None

ID           0
No_Pation    0
Gender       1
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        5
dtype: int64

In [43]:
def corregirNulos():
    '''Corregir el dataset para que no tenga valores nulos.'''
print(corregirNulos.__doc__)
print(corregirNulos())
X.fillna(0, inplace=True)
y.fillna(0, inplace=True)

Corregir el dataset para que no tenga valores nulos.
None

C:\Users\Veronica\AppData\Local\Temp\ipykernel_13124\4151146805.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.fillna(0, inplace=True)

# DIVIDIR EL DATASET

In [39]:
def entrenamiento():
    '''Dividir el dataset en entrenamiento y en test
    70% para entrenar y 30% para las pruebas.'''
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
print(entrenamiento.__doc__)
print(entrenamiento())

Dividir el dataset en entrenamiento y en test
    70% para entrenar y 30% para las pruebas.
None

In [40]:
def arbolDecision():
    '''Crear y entrenar un árbol de decisión.'''
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
print(arbolDecision.__doc__)
print(arbolDecision())

Crear y entrenar un árbol de decisión.
None

In [41]:
def predecirArbol():
    '''Predecir una respuesta a partir de los datos de prueba.'''
y_pred = clf.predict(X_test)
print(predecirArbol.__doc__)
print(predecirArbol())
print(y_pred)

Predecir una respuesta a partir de los datos de prueba.
None
[2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 1. 2. 2. 2. 1. 1. 0. 2. 2. 2. 2. 2. 2.
 2. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2. 2. 2. 2. 0. 0. 2. 2. 2. 0.
 2. 2. 2. 2. 2. 0. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2.
 2. 2. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2. 2. 2.
 2. 2. 2. 1. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 1. 2.
 2. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2. 2. 2. 2. 2. 0. 1. 2. 2.
 1. 2. 2. 2. 2. 2. 2. 2. 0. 2. 0. 2. 2. 2. 0. 2. 2. 2. 1. 2. 2. 2. 2. 2.
 2. 2. 2. 0. 2. 2. 2. 2. 0. 1. 2. 2. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 0. 2. 2. 2. 2. 2. 2. 0. 2. 2. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 0.
 2. 0. 2. 2. 2. 2. 2. 2. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 1. 2. 0. 0.
 2. 2. 2. 2. 2. 0. 2. 0. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2. 2. 2. 1.
 2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2.]

# MATRIZ DE CONFUSIÓN

In [ ]:
def libMatriz():
    '''En este apartado se '''
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import plot_confusion_matrix
print(libreriasMC.__doc__)
print(libreriasMC())

In [ ]:
def matriz():
    '''Matriz de confusión'''
print(matriz.__doc__)
confusion_matrix(y_test, y_pred)

In [ ]:
def visualizar():
    '''Visualización de la matriz de confusión'''
print(visualizar.__doc__)
plot_confusion_matrix(clf, X_test, y_test, cmap=plt.cm.Reds)
plt.title("Matriz de confusión")
plt.show()